*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li,
form,
label,
input,
a,
section,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #212121;
}
img {
  display: inline-block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header {
  padding-top: 78px;
  padding-bottom: 52px;
  background-image: url(./../img/header_font.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 123px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 133px;
  }
}

.header_logo {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
  width: 107px;
  @media screen and (min-width: 768px) {
    top: 0;
    height: 151px;
    width: 180px;
  }
  @media screen and (min-width: 1200px) {
    top: 0;
    height: 201px;
    width: 238.5px;
  }
}
.header_logo-img {
  height: 90px;
  width: 107px;
  @media screen and (min-width: 768px) {
    height: 151px;
    width: 180px;
  }
  @media screen and (min-width: 1200px) {
    height: 201px;
    width: 238.5px;
  }
}
.header_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #dc56c5;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 27px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 50px;
    margin-bottom: 52px;
  }
}
.header_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}
.header_item {
  position: relative;
  max-width: 270px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.header_input {
  width: 270px;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #ffffff33;
  backdrop-filter: blur(20px);
  border-radius: 20px;

  border-color: transparent;
  outline: transparent;
}
.header_input::placeholder {
  color: #939393;
  opacity: 0.8;
}
.header_option-button {
  position: absolute;
  right: 25px;
  top: 17px;
  background-color: transparent;
  border: transparent;
}
.search {
  position: absolute;
  right: 25px;
  top: 17px;
}
.header_svg {
  width: 12px;
  height: 12px;
  fill: #939393;
}
.header_option-button .header_svg {
  transition: transform 0.3s ease;
}

.header_option-button.header_svg-rotation .header_svg {
  transform: rotate(180deg);
}
.header_list-city {
  overflow-y: auto;
  position: absolute;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ffffff33;
  border-radius: 20px;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}
.header_list-city-invisibily {
  opacity: 0;
  visibility: hidden;
}
.header_item-city {
  border-radius: 20px;
  min-width: 270px;
  background-color: #ffffff33;
  backdrop-filter: blur(20px);
}
.header_text-city {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.footer_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #939393;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.none {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
